<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="GantBot">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import GantBot urdf file -->
    <xacro:include filename="$(find GantBot)/description/robot_only.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="GantBot.ros2_control.xacro" />


    <xacro:GantBot_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
